.etapas-container {
    padding: 20px;
  }
  
  .etapas-container h1 {
    color: #007bff;
    text-align: center;
  }
  
  .etapas-container ul {
    list-style: none;
    padding: 0;
  }
  
  .etapas-container li {
    background: #ebeaeabb;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .etapas-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .patrocinador p {
    margin-top: 5px;
    font-weight: bold;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  